$skcm-primary: #14cabf;
$skcm-dark: #131f37;
$skcm-medium: #b0bfd9;
$skcm-light: #fff;

h6 {
    margin: 0;
    font-size: 1.25rem;
    color: $skcm-dark;
}
p {
    font-size: 0.875rem;
    margin-top: 1.5rem;
    line-height: 1.31rem;
    color: $skcm-dark;
}
a {
    text-decoration: none;
    color: $skcm-primary;
}
.button-wrapper {
    margin-top: 2rem;
}
